@mixin subtitle($color){
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 3px;
    font-family: "DM Sans", sans-serif;
    color: $color;
    text-transform: uppercase;
    @include md {
      font-size: 16px;
    }
    @include sm {
      font-size: 14px;
    }
    @include xs {
      font-size: 14px;
      line-height: 22px;
    }
   
}
@mixin heading($weight, $size, $height, $color){
    font-weight: $weight;
    font-size: $size;
    line-height: $height;
    color: $color;
    font-family: "Playfair Display", sans-serif;
 
}
@mixin paragraph($size,$weight,$height,$color, $m-top){
    font-size: $size;
    font-weight: $weight;
    line-height: $height;
    font-family: "DM Sans", sans-serif;
    color: $color;
    text-transform: capitalize;
    margin-top: $m-top;
}

@mixin flex($content, $align){
    display: flex;
    justify-content: $content;
    align-items: $align;
}
@mixin icon-img($width, $height, $bg){
    width: $width;
    height: $height;
    background-color: $bg;
    border-radius: 50px;
}

// Small devices
@mixin xs {
    @media only screen and (min-width: 0px) and (max-width:576px){
      @content;
    }
  }
  @mixin sm {
    @media only screen and (min-width: 0px) and (max-width: 767px){
      @content;
    }
  }
  // Medium devices
  @mixin md {
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      @content;
    }
  }
  
  // Large devices
  @mixin lg {
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      @content;
    }
  }
  @mixin xl {
    @media only screen and (min-width: 1200px) and (max-width: 1399px) {
      @content;
    }
  }