.address-wrapper{
    position: relative;
    z-index: 1;
    background-color: $bg-color1;
    padding: 50px;
    border-radius: 14px;
    gap: 50px;

    @include lg {
        justify-content: center
    }
    @include md {
        justify-content: center
    }
    @include sm {
        justify-content: center
    }
    @include xs {
        flex-direction: column;
        justify-content: center;
        
    }

    .address{
        @include flex(none,center);
        gap: 12px;

        .address-icon{
            @include icon-img(50px, 50px, #ECF0FB);
            @include flex(center, center);
            flex-shrink: 0;

            i{
                font-size: 22px;
                color: $primary-color;
            }
        }

        .address-text{
            span{
                @include paragraph(14px, 400, 25px, #7B84A2,none);
            }
            h5{
                @include paragraph(14px, 500, 25px, $title-color,none);
            }
        }
    }

    .location-btn{

        a{
            padding: 15px 50px;
        }
    }
}