.service-sec {
    &.style-1 {
        padding-top: 250px;
        padding-bottom: 100px;
        margin-top: -150px;
        

        .service-wrapper .card-sec .service-card {
            flex-direction: row;
            gap: 25px;

            .card-title-sec {
                margin-top:  0;
                .learn-more {
                    margin-top: 20px;
                }
            }
        }
    }
}